

<div class="card-columns md-5">
    <div (click)="watchArtist(item)" *ngFor="let item of items" class="card card-color puntero">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title card-font">{{ item.name }}</h5>
            <p class="card-text card-font">
                <span *ngFor="let artist of item.artists" class="badge badge-pill badge-color"> 
                {{ artist.name }}
                </span>
            </p>
        </div>
    </div>
</div>
